<h1>About</h1>
<p>YATC, which is short for <span style="color: rgb(152, 12, 39)">Yet another Twitter clone</span>, is an exercise in creating
a Ruby on Rails web application. You can use this web application to write small posts (microposts) about yourself, what you're
going to do, what you just did, or whatever comes to your mind! You can follow what other people are doing, and in turn, other
people can follow you.</p>
<p>There is still a lot more to be done to YATC, however. I plan on adding more features to this web application in the future.
Here's what I'm thinking about so far:</p>
<ul><li>A private messaging system</li><li>Users getting notified via e-mail whenever someone follows them</li>
<li>A site-wide search feature so that users can find one another</li><li>RSS feeds</li><li>...and the list goes on.</li></ul>
<p>Although YATC still has a long way to go before becoming the next Twitter, please feel free to tell your family and
friends about this web application. My hope is that one day, it will have just as much users as the original. :-)</p>
<p>Regards,<br />BJ Peter DeLaCruz<br /><span style="font-style: italic;">Developer</span></p>